  {% include head.html %}
  
  <body>
    <div class="wrapper">
      
      <header>
        <h1>cheats.kematzy.com</h1>
        <p>My personal collection of Cheatsheets</p>
        <p class="view"><a href="https://github.com/kematzy/cheats.kematzy.com">View the Project on GitHub <small>kematzy/cheats.kematzy.com</small></a></p>
        <!-- <ul>
          <li><a href="https://github.com/kematzy/cheats.kematzy.com/zipball/master">Download <strong>ZIP File</strong></a></li>
          <li><a href="https://github.com/kematzy/cheats.kematzy.com">View On <strong>GitHub</strong></a></li>
        </ul> -->
      </header>
      
      
      
      <section>
        {{ content }}
      </section>
      
    </div>
    
    
    {% include footer.html %}
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->    
  </body>
</html>